bs4==0.0.1
feedparser==5.2.1
future==0.18.2
habanero>=0.7.4
html5lib==1.0.1
jsonschema==2.6.0
lxml==4.2.1
namedentities==1.9.4
nameparser==1.0.6
pymarc<=4.0.0
python-dateutil==2.8.1
requests==2.20.0
unidecode
xmltodict==0.12.0
